@{
    ViewData["Title"] = "About Us";
}

<h1>About : Epi  Sousse International School</h1>
<div class="col-12 col-md-8 col-lg-6 mx-auto">
     <img src="/sites/default/files/2022-08/actu-fournitures-scolaires-2022-2023-detail.jpg" alt="" class="img-fluid img-rounded">
         </div>
<p class="lead">Value Statement
At Epi  Sousse International School, we recognize the importance of family and community. We aim to establish a feeling of family within our school in which each student feels safe and secure, cared for, loved, and recognized as uniquely valuable individuals.

We also hope to foster a strong link between the school and the community.

Sousse International School believes that children are created with natural curiosity and, through creative teaching methods, we desire to encourage children to reason for themselves.

Sousse International School believes that full development of human beings involves that of character values such as integrity, humility, and mutual respect as well as quality academic opportunities.

We aim to inspire each person within the school to reach their fullest potential in every area of their life.

​

School Values

Family, Community, Love, Safety/Security, Integrity, Wholeness, Caring individual recognition, Quality, Creative learning, Humility, Respect.</p>
<p class="lead">
    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-primary">Contact For More Info</a>
</p>